.header {
    /*padding: 0 100px;*/
    padding-left: 220px;
    padding-right: 220px;
}

.header-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-data h2 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #111111;
}
.header-data img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

hr {
    margin: 0;
    padding: 0;
}

@media (max-width: 576px) {
    .header {
        width: 190%;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .header {
        /*width: 100%;*/
        margin: 0 auto;
        /*margin-left: 0;*/
        /*margin-right: 0;*/
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
}