.blog {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 24px;
    padding-left: 220px;
    padding-right: 220px;
}

@media (min-width: 768px) {

}

.questions-and-answers h2 {
    text-align: center;
}

.questions-and-answers p {
    text-align: justify;
}

.single-blog {
    width: 845px;
    padding-top: 32px;
    margin-top: 0;
}

.sidebar {
    padding-top: 32px;
    margin-top: 0;
}

.sidebar .sidebar-container {
    position: sticky;
    top: 32px;
}

.time {
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    margin-top: 0;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.bookmarked-container {
    margin-top: 25px;
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
}

.bookmarked-blogs {
    margin-bottom: 0;
    padding-top: 30px;
    padding-left: 30px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.added-blogs {
    padding-bottom: 30px;
}

.btn-container {
    text-align: center;
    margin-top: 30px;
}

.btn-delete-data {
    background-color: orange;
    border: 0;
}

.questions-and-answers {
    padding: 50px 220px 100px;
}