.post-container {
    margin-bottom: 40px;
}

.cover-image {
    width: 845px;
    height: 450px;
}

.about-author {
    /*display: flex;*/
    align-items: center;
    display: grid;
    grid-template-columns: 0.7fr 5fr 1fr;
}

.about-author img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}

.author-info {
    margin-top: 24px;
}

.author-info h4 {
    color: black;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.author-info p {
    margin-top: 0;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /*color: rgba(17, 17, 17, 0.6);*/
}

.about-author .blog-read-time {
    float: end;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /*color: rgba(17, 17, 17, 0.6);*/
}

.blog-title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    /*color: #111111;*/
}

.post-container .horizontal-line {
    margin-top: 22px;
    margin-bottom: 38px;
}

@media (max-width: 576px) {
    .cover-image {
        width: 95%;
        padding-left: 20px;
        marign: 0 auto;
        justify-content: center;
        align-content: center;
    }
    .about-author {
        padding-left: 20px;
        padding-right: 30px;
    }
    .blog-title, .tags, a {
        padding-left: 20px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .cover-image {
        width: 100%;
        /*padding-left: 20px;*/
        /*margin: 0 auto;*/
        /*justify-content: center;*/
        /*align-content: center;*/
    }
    .about-author {
        width: 100%;
        /*padding-left: 20px;*/
        /*padding-right: 30px;*/
    }
    .blog-title, .tags, a {
        padding-left: 20px;
    }
}